{% extends "base.html" %}

{% block content %}

<script src="/static/js/table-sort.js"></script>

<section>

    {% if deviceList|length == 0 %}
    <div class="container">
        <div class="jumbotron">
            <h1>Welcome to Easy Net Visibility</h1>
            <p>There have been no devices discovered yet. Head over to <a href="/status">status tab</a> to make sure
                everything is running properly. </p>
        </div>
    </div>
    {% endif %}

    {% if deviceList|length > 0 %}

    <br/>

    {% for subnet, devices in groupedDevices %}
    <div style="margin-bottom: 30px;">
        <h3 style="margin-left: 15px; margin-right: 15px; margin-bottom: 15px; padding-bottom: 10px; border-bottom: 3px solid #333;">
            Subnet: {{ subnet }}
        </h3>
        <div class="container">
        <table class="sortable-table" style="width: 100%; min-width: 800px; table-layout: fixed;">
            <thead>
            <tr style="border-bottom: 2px solid #000;">
                <th nowrap>Name</th>
                <th nowrap>IP</th>
                <th nowrap>MAC</th>
                <th nowrap>Vendor</th>
                <th nowrap>First Seen</th>
                <th nowrap>Last Seen</th>
                <th nowrap>Open Ports</th>
                <th nowrap></th>
            </tr>
            </thead>
            <tbody>
            {% for device in devices %}

            <tr style="border-bottom: 1px solid #ccc;">
                <td nowrap>{{device.name|safe}}&nbsp;&nbsp;<span data-toggle="modal"
                                                                                         data-target="#renameDevice{{forloop.parentloop.counter}}{{forloop.counter}}"
                                                                                         style="cursor: pointer;"><span
                        class="glyphicon glyphicon-edit"></span></span></td>
                <td nowrap>{{device.ip|safe}}</td>
                <td nowrap>{{device.mac|safe}}</td>
                <td nowrap>{{device.vendor|safe}}</td>
                <td class="w3-{% if device.first_seen_today %}red{% else %}white{% endif %}" nowrap>
                    {{device.first_seen|safe}}
                </td>
                <td class="w3-{% if device.online %}white{% else %}red{% endif %}" nowrap>
                    {{device.last_seen|safe}}
                </td>
                <td nowrap>{{device.port_set.all|length}}</td>
                <td nowrap>
                    <button class="w3-btn-block w3-dark-grey" onclick="location.href='/device/{{device.id}}'">More
                        Info...
                    </button>
                </td>
            </tr>


            <div id="renameDevice{{forloop.parentloop.counter}}{{forloop.counter}}" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Rename Device</h4>
                        </div>
                        <div class="modal-body">
                            <p>Hostname: {{device.hostname|safe}}</p>
                            <p>Previous Name: {{device.nickname|safe}}</p>
                            <p>
                            <form id="form{{forloop.parentloop.counter}}{{forloop.counter}}" action="/rename_device" method="post">
                                {% csrf_token %}
                                <input name="device_id" type=hidden value="{{device.id}}">
                                <input class="form-control" id="nickname" name="nickname" type="text"
                                       placeholder="New Name">
                            </form>
                            </p>
                        </div>
                        <div class="modal-footer">
                            <div class="row">
                                <div class="col-xs-4">
                                    <button form="form{{forloop.parentloop.counter}}{{forloop.counter}}" type="submit" class="btn btn-default center-block">Save
                                    </button>
                                </div>
                                <div class="col-xs-4">
                                </div>
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-default center-block" data-dismiss="modal">Cancel
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}

            </tbody>
        </table>
        </div>
    </div>
    {% endfor %}

    <br/>
    <br/>
    <div>
        <center>
            total: {{ deviceList|length }} devices
        </center>
    </div>

    {% endif %}

</section>


{% endblock %}