{% extends 'base.html' %}
{% block content %}
<!- Refresh Page Every 5 Seconds ->
<!- meta http-equiv="refresh" content="5" ->
<section>
    <div class="container">
        <div class="panel-group">
            {% if sensors_list|length == 0 %}
            <div class="jumbotron">
                <p>No sensors connected yet. </p>
            </div>
            {% endif %}


            {% for sensor in sensors_list %}
            <div class="panel panel-danger">
                <div class="panel-heading">Sensor - <b>{{sensor.hostname}}</b></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-5"><strong>Mac address</strong></div>
                        <div class="col-xs-7">{{sensor.mac}}</div>
                    </div>

                    <div class="row">
                        <div class="col-xs-5"><strong>Last Seen</strong> <span
                                class="glyphicon {% if sensor.online %}glyphicon-ok-sign"
                                style="color:green" {% else %}glyphicon-exclamation-sign"
                            style="color:red"{%endif%}></span></div>
                        <div class="col-xs-7">{{sensor.last_seen|date:"Y-m-d H:i:s"}} ({{sensor.time_since_last_seen}} minutes
                            ago)
                        </div>
                    </div>
                    <br/>
                    <button onclick="deleteSensor('{{sensor.id}}')" type="button"
                            class="btn btn-danger btn-sm">Delete Sensor
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
   function deleteSensor(sensor_id) {
     $.post('/delete_sensor',
         {
           'sensor_id': sensor_id,
           'csrfmiddlewaretoken': '{{ csrf_token }}'
         },
         function (response, status) {
           window.location.reload();
         }
       );
   }






    </script>


</section>
{% endblock %}

